body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

.top-container {
  background-color: #17223b;
  position: relative;
  padding-top: 100px;
}

h1, h2 {
    color: #D4D8DE;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Merriweather Sans', sans-serif;
}

hr {
    background-color: transparent;
    border-style: dotted none none;
    border-top-width: 7px;
    border-color: #d9d9d9;
    width: 5%;
}

.my-name{
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem; /* 90px */
}

#title-h2 {
  margin: 0 auto 0 auto;
  font-size: 2.5rem;
  font-weight: normal;
}

.programmer {
  font-family: 'wire One', sans-serif;
}

.pro {
  text-decoration: underline;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #40E0D0;
}

p {
  line-height: 2;
  color: #6B778D;
}

.middle-container {
  background-color: #263859;
}

.profile {
    width: 30%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

#me-img {
    border-radius: 50%;
}

.skills {
    margin: 100px auto;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

#code-img, #html-img, #css-img, #js-img, #soccer-img {
  width: 20%;
}

#code-img, #css-img, #soccer-img {
    float:left;
    margin-right: 30px;
    padding: 50px 0 50px 0;
}

#html-img, #js-img {
    float: right;
    margin-left: 30px;
}

#css-img {
  padding: 0;
}

.top-cloud {
  position: absolute;
  right: 20%;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 20%;
  bottom: 300px;
}

.contact-me {
  width: 50%;
  margin: auto;
  padding: 100px 0;
}

.btn {
  display: block;
  background-color: #11999E;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  color: #ffffff;
  opacity: .75;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 50px auto;
  width: 25%;
  transition: background, .5s;
}

.btn:hover {
  background-color: #40E0D0;
  opacity: 1;
}

.bottom-container {
  background-color: #ff6768;
  padding: 50px 0;
}

.footer-link {
    color: #DADEE6;
    opacity: .75;
    text-decoration: none;
    margin: 0 20px;
    border-bottom: 1px solid transparent;
    transition: border, .4s;
}

.footer-link:hover {
  border-bottom: 1px solid #DADEE6;
  opacity: 1;
}

#copyright {
  padding: 5px 0;
  color: #240E0E;
  font-size: .75rem;
}

#flaticon {
  color: #240E0E;
  font-size: .75rem;
  width: 50%;
  margin: 40px auto 0;
}

#flaticon a {
  text-decoration: none;
  color: #DADEE6;
  opacity: .6;
  border-bottom: 1px solid transparent;
  transition: border, .4s;
}

#flaticon a:hover {
  border-bottom: 1px solid #DADEE6;
  opacity: 1;
}
